@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Kanit:ital,wght@0,500;1,500&family=Montserrat:wght@800;900&family=Poppins:wght@400;600;900&display=swap');

*{
    font-family: "Montserrat";
}
body{
    overflow-x: hidden;
}
.main-div nav{
    margin-top: 3%;
    display: flex;
    gap: 15%;
    justify-content: center;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #4c4c99;
    cursor: pointer;
}
.signin-btn{
    background: linear-gradient(90deg, rgb(81, 96, 231), rgb(245, 95, 95));
    color: #fff;
    height: 35px;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    cursor: grab;
}
.intro-section{
    display: flex;
}
.left-section{
    margin-top: 7%;
    margin-left: 8%;
}
.left-section h1{
    font-size: 50px;
    color: #4c4c99;
}
.left-section h4{
    font-weight: 100;
    color: rgb(66, 65, 65);
    margin-right: 35%;
}
.learn-more-btn{
    border: none;
    background: linear-gradient(90deg, #4c4c99, #f555b8);
    color: #fff;
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 20px;
    cursor: grab;
    margin-top: 5%;
}
.imgs-divi{
    height: 500px;
    width: 500px;
    z-index: 1;
}
.zigzag{
    margin-top: -24%;
}
.vector-img{
    position: absolute;
    height: 80px;
    width: 80px;
}
.imgs-div{
    margin-right: 13%;
}
.vector-dot{
    margin-left: 8%;
    height: 25px;
    margin-top: -5%;
}
.right-color{
    position: absolute;
    z-index: -1;
    margin-left: 40%;
    margin-top: -63%;
}
@media screen and (max-width: 1250px){
    .right-color{
        margin-top: -70%;
        margin-left: 35%;
    }
}
@media screen and (max-width: 1150px){
    .right-color{
        margin-top: -75%;
    }
}
@media screen and (max-width: 1100px) {
    .main-div nav{
        margin-top: 3%;
        display: flex;
        gap: 7%;
    }
    .imgs-divi{
        height: 400px;
        width: 400px;
    }
    .right-color{
        margin-top: -80%;
    }
}

@media screen and (max-width: 950px){
    .right-color{
        margin-top: -90%;
    }
    .main-div nav{
        margin-top: 3%;
        display: flex;
        gap: 3%;
    }
}
@media screen and (max-width: 1000px){
    .right-color{
        margin-top: -84%;
    }
    .main-div nav{
        margin-top: 3%;
        display: flex;
    }
    .nav-items{
        gap: 10px;
    }
}
@media screen and (max-width: 800px){
    .right-color{
        margin-top: -150%;
    }
    .main-div nav{
        margin-top: 3%;
        display: flex;
        gap: 20%;
    }
    .nav-items{
        gap: 10px;
        flex-direction: column;
    }
}